lammps-kokkos:
  compiler: [gcc]
  network:
    mpi: cray-mpich@8.1.32
    specs:
    - libfabric@2.3
  unify: true
  specs:
  - cmake
  - python@3.12
  - fftw
  - py-torch@2.8.0 ~distributed ~nccl
  - plumed +pytorch
  - gromacs@2025.0 +plumed +hwloc
  variants:
  - +openmp
  - +mpi
  - ~cuda
  - ~rocm
  views:
    develop:
      link: all
      # Exclude gcc-runtime to avoid adding a copy of libgomp.so to the view
      exclude: ["gromacs", "gcc-runtime"]
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
    gromacs:
      link: all
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
