lammps-kokkos:
  compiler: [gcc]
  network:
    mpi: cray-mpich@8.1.32 +cuda
  unify: true
  specs:
  - python@3.11 # distutils was removed in 3.12 (needed by ml-iap)
  - cmake
  - ninja
  - cuda@12
  - kokkos +wrapper
  - plumed
  - lammps@20251210 +kokkos fft_kokkos=cufft +python +replica +mc +misc +plumed +manifold +qtb +reaction +shock +spin +extra-pair +extra-fix +ml-iap +extra-dump +extra-molecule +ml-snap +extra-compute
  variants:
  - +mpi
  - +cuda
  - cuda_arch=90
  - build_type=Release
  views:
    develop-kokkos:
      link: all
      # Exclude gcc-runtime to avoid adding a copy of libgomp.so to the view
      exclude: ["lammps", "gcc-runtime"]
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
    kokkos:
      link: all
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
lammps-gpu:
  compiler: [gcc]
  network:
    mpi: cray-mpich@8.1.32 +cuda
  unify: true
  specs:
  - python@3.11 # distutils was removed in 3.12 (needed by ml-iap)
  - cmake
  - ninja
  - cuda@12
  - plumed
  - lammps@20251210 ~kokkos +python +replica +mc +misc +plumed +manifold +qtb +reaction +shock +spin +extra-pair +extra-fix +ml-iap +extra-dump +extra-molecule +ml-snap +extra-compute
  variants:
  - +mpi
  - +cuda
  - cuda_arch=90
  - build_type=Release
  views:
    develop-gpu:
      link: all
      # Exclude gcc-runtime to avoid adding a copy of libgomp.so to the view
      exclude: ["lammps", "gcc-runtime"]
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
    gpu:
      link: all
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
