# Recipes owners
recipes/cp2k/ @RMeli @abussy @mtaillefumier
recipes/gromacs/ @kanduri @RMeli
recipes/lammps/ @nickjbrowning @RMeli
recipes/linalg-complex/ @finkandreas @msimberg
recipes/linalg/ @finkandreas @msimberg
recipes/namd/ @RMeli
recipes/paraview/ @albestro
recipes/quantumespresso/ @simonpintarelli @RMeli
recipes/sirius/ @toxa81 @simonpintarelli
recipes/vasp/ @AdhocMan @RMeli
