stages:
  - build
  - test

.base-build:
  stage: build
  timeout: 8h
  variables:
    SLURM_TIMELIMIT: 180
  script:
  - ./stack-build -n $STACK_NAME -s $STACK_SYSTEM -r $STACK_RECIPE -b /dev/shm/jenkssl $SPACK_DEVELOP -m $STACK_MOUNT -u $STACK_UARCH
  after_script:
  - rm -Rf /dev/shm/jenkssl

.base-test:
  stage: test
  timeout: 8h
  variables:
    SLURM_TIMELIMIT: 30
    GIT_STRATEGY: fetch
  script:
  - ./run-reframe -n $STACK_NAME -s $STACK_SYSTEM -m $STACK_MOUNT -u $STACK_UARCH

{% for job in jobs %}

build-{{job.uenv}}/{{job.version}}-{{job.system}}/{{job.uarch}}:
  extends: .base-build
{% if job.runner.f7t %}
  tags: ["f7t-runner"]
{% else %}
  tags: ["{{job.runner.slurm_runner}}"]
{% endif %}
  variables:
    STACK_MOUNT:      "{{job.mount}}"
    SPACK_DEVELOP:    "{{job.spack_develop}}"
    STACK_NAME:       "{{job.uenv}}/{{job.version}}"
    STACK_SYSTEM:     "{{job.system}}"
    STACK_RECIPE:     "{{job.recipe_path}}"
    STACK_UARCH:      "{{job.uarch}}"
    SLURM_PARTITION:  "{{job.partition}}"
    {% for name, value in job.runner.variables.items() %}
    {{ name }}: "{{ value }}"
    {% endfor %}

{% if (not job.runner.f7t) and (job.runner.baremetal_runner) %}

test-{{job.uenv}}/{{job.version}}-{{job.system}}/{{job.uarch}}:
  extends: .base-test
  tags: ["{{job.runner.baremetal_runner}}"]
  needs: ["build-{{job.uenv}}/{{job.version}}-{{job.system}}/{{job.uarch}}"]
  variables:
    STACK_NAME:       "{{job.uenv}}/{{job.version}}"
    STACK_SYSTEM:     "{{job.system}}"
    STACK_UARCH:      "{{job.uarch}}"
    STACK_MOUNT:      "{{job.mount}}"
    SLURM_PARTITION:  "{{job.partition}}"

{% endif %}

{% endfor %}

