log*
stackinator
recipes/*/*core/mirrors.yaml
cache.yaml

# vim temp files
.*.sw[pnoq]

# documentation working files
site
env

# oras binary, downloaded during build
oras

config/.pyenv
config/__pycache__
