log*
stackinator
recipes/*/*core/mirrors.yaml
cache.yaml
/pipeline.yml

# vim temp files
.*.sw[pnoq]

# documentation working files
site
env

# oras binary, downloaded during build
oras

ci/.pyenv
__pycache__
