clusters:
  eiger:
    targets:
      -
        uarch: 'zen2'
        partition: 'normal'
        variables:
          SLURM_CONSTRAINT: 'mc'
    runner: f7t
  clariden:
    targets:
      -
        uarch: 'a100'
        partition: 'nvgpu'
      -
        uarch: 'mi200'
        partition: 'amdgpu'
      -
        uarch: 'zen3'
        partition: 'nvgpu'
    runner:
      slurm-tag: clariden-spack-stack-builder
      baremetal-tag: clariden-login-baremetal
  santis:
    targets:
      -
        uarch: 'gh200'
        partition: 'normal'
    runner:
      slurm-tag:  santis-spack-stack-builder
      baremetal-tag: santis-login-baremetal
uenvs:
  gromacs:
    "2023":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: 2023/mc
        zen3: 2023/mc
        a100: 2023/a100
      deploy:
        # deploy to both the production and test clusters
        eiger: [zen2]
        clariden: [a100]
      develop: False
  cp2k:
    "2023":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: 2023/mc
        zen3: 2023/mc
        a100: 2023/a100
      deploy:
        # deploy to both the production and test clusters
        eiger: [zen2]
        clariden: [a100]
      develop: False
  icon-wcp:
    "v1":
      recipes:
        a100:  wcp/icon/v1/a100
        gh200: wcp/icon/v1/gh200
      deploy:
        santis: [gh200]
      develop: False
  lammps:
    "2023":
      recipes:
        zen2: "2023/mc"
        zen3: "2023/mc"
      deploy:
        eiger: [zen2]
      develop: False
  linaro-forge:
    "23.0.3":
      recipes:
        zen2: "23.0.3"
        zen3: "23.0.3"
        a100: "23.0.3"
      deploy:
        eiger: [zen2]
      develop: False
      mount: "/user-tools"
    "23.1.2":
      recipes:
        zen2: "23.1.3"
        zen3: "23.1.3"
        a100: "23.1.3"
      deploy:
        eiger: [zen2]
        santis: [gh200]
      develop: False
      mount: "/user-tools"
  mch:
    # v5 was deprecated from the build config due to an out of date
    # version of spack (v0.19)
    "v6":
      recipes:
        a100: v6
      deploy:
        clariden: [a100]
      develop: False
  netcdf-tools:
    "2024":
      recipes:
        zen2: '2024/x86'
        zen3: '2024/x86'
        a100: '2024/x86'
        gh200: '2024/arm64'
      deploy:
        eiger: [zen2]
      develop: False
  # OpenFOAM Foundation
  openfoam-org:
    "8":
      recipes:
        zen2: 8/mc
      deploy:
        eiger: [zen2]
  prgenv-gnu:
    "23.11":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: 23.11/mc
        zen3: 23.11/mc
        a100: 23.11/a100
      deploy:
        # deploy to both the production and test clusters
        eiger: [zen2]
        clariden: [a100]
    "24.2":
      recipes:
        gh200: 24.2/gh200
      deploy:
        santis: [gh200]
  quantumespresso:
    "v7.1":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: v7.1/mc
        zen3: v7.1/mc
        a100: v7.1/a100
      deploy:
        eiger: [zen2]
  sirius:
    "v7.5":
      recipes:
        a100: v7.5/a100
      deploy:
        clariden: [a100]
      develop: True

