clusters:
  balfrin:
    targets:
      -
        uarch: 'a100'
        # ~use postproc for building, because it is usually less busy~
        # use normal for building, because postproc does not give enough resources
        partition: 'postproc'
        variables:
          F7T_URL: 'https://api.cscs.ch/mch/firecrest/v1'
          SLURM_CPUS_PER_TASK: '128'
      -
        uarch: 'zen3'
        partition: 'postproc'
        variables:
          F7T_URL: 'https://api.cscs.ch/mch/firecrest/v1'
    runner: f7t
  bristen:
    targets:
      -
        uarch: 'a100'
        partition: 'normal'
        variables:
          F7T_URL: 'https://api.cscs.ch/ml/firecrest/v1'
          SLURM_ACCOUNT: ''
    runner: f7t
  clariden:
    targets:
      -
        uarch: 'gh200'
        partition: 'normal'
        variables:
          F7T_URL: "https://api.cscs.ch/ml/firecrest/v1"
          SLURM_ACCOUNT: 'a-csstaff'
    runner: f7t
  daint:
    targets:
      -
        uarch: 'gh200'
        partition: 'normal'
        variables:
          F7T_URL: "https://api.cscs.ch/hpc/firecrest/v1"
    runner: f7t
  eiger:
    targets:
      -
        uarch: 'zen2'
        partition: 'normal'
        variables:
          SLURM_CONSTRAINT: 'mc'
          F7T_URL: "https://api.cscs.ch/hpc/firecrest/v1"
    runner: f7t
  pilatus:
    targets:
      -
        uarch: 'zen2'
        partition: 'normal'
        variables:
          SLURM_CONSTRAINT: 'mc'
          F7T_URL: 'https://api.tds.cscs.ch/stp/firecrest/v1'
    runner: f7t
  santis:
    targets:
      -
        uarch: 'gh200'
        partition: 'normal'
        variables:
          F7T_URL: "https://api.cscs.ch/cw/firecrest/v2"
    runner: f7t
uenvs:
  climana:
    "24.7":
      recipes:
        zen2: mch/climana/24.7
        zen3: mch/climana/24.7
        a100: mch/climana/24.7
      deploy:
        balfrin: [zen3, a100]
      develop: False
  climana:
    "24.10":
      recipes:
        zen2: mch/climana/24.10
        zen3: mch/climana/24.10
        a100: mch/climana/24.10
      deploy:
        balfrin: [zen3, a100]
      develop: False
  editors:
    "24.7":
      recipes:
        zen2: "24.7"
        zen3: "24.7"
        gh200: "24.7"
      deploy:
        eiger: [zen2]
        daint: [gh200]
      mount: "/user-tools"
    "25.3":
      recipes:
        zen2: "25.3"
        zen3: "25.3"
        gh200: "25.3"
      deploy:
        eiger: [zen2]
        todi: [gh200]
      mount: "/user-tools"
  gromacs:
    "2023":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: 2023/mc
        zen3: 2023/mc
        a100: 2023/a100
        gh200: 2023/gh200-mpi
      deploy:
        # deploy to both the production and test clusters
        eiger: [zen2]
      develop: False
    "2024":
      recipes:
        zen2: 2024/mc
        gh200: 2024/gh200-mpi
      deploy:
        # deploy to both the production and test clusters
        santis: [gh200]
        daint: [gh200]
        eiger: [zen2]
  cp2k:
    "2024.1":
      recipes:
        gh200: 2024.1/gh200
        zen2: 2024.1/mc
      deploy:
        eiger: [zen2]
      develop: False
    "2024.2":
      recipes:
        gh200: 2024.2/gh200
        zen2: 2024.2/mc
    "2024.3":
      recipes:
        gh200: 2024.3/gh200
        zen2: 2024.3/mc
      deploy:
        daint: [gh200]
        eiger: [zen2]
      develop: False
    "2025.1":
      recipes:
        gh200: 2025.1/gh200
        zen2: 2025.1/mc
      deploy:
        daint: [gh200]
        eiger: [zen2]
      develop: False
  icon-wcp:
    "v1":
      recipes:
        a100:  wcp/icon/v1/a100
        gh200: wcp/icon/v1/gh200
      deploy:
        santis: [gh200]
      develop: False
  julia:
    "24.9":
      recipes:
        zen2:  "24.9/mc"
        zen3:  "24.9/mc"
        gh200: "24.9/gh200"
      develop: False
  lammps:
    "2023":
      recipes:
        zen2: "2023/mc"
        zen3: "2023/mc"
      deploy:
        eiger: [zen2]
      develop: False
    "2024":
      recipes:
        gh200: "2024/gh200"
      deploy:
        daint: [gh200]
      develop: False
  linalg:
    "24.11":
      recipes:
        zen2: "24.11/mc"
        zen3: "24.11/mc"
        gh200: "24.11/gh200"
      deploy:
        daint: [gh200]
        eiger: [zen2]
      develop: False
  linalg-complex:
    "24.11":
      recipes:
        zen2: "24.11/mc"
        zen3: "24.11/mc"
        gh200: "24.11/gh200"
      deploy:
        daint: [gh200]
        eiger: [zen2]
      develop: False
  linaro-forge:
    "24.1.2":
      recipes:
        zen2: "24.1.2"
        gh200: "24.1.2"
      deploy:
        eiger: [zen2]
        pilatus: [zen2]
        # bristen: [a100]
        daint: [gh200]
        santis: [gh200]
        clariden: [gh200]
      develop: False
      mount: "/user-tools"
    "24.1.1":
      recipes:
        zen2: "24.1.1"
        gh200: "24.1.1"
      deploy:
        eiger: [zen2]
        pilatus: [zen2]
        # bristen: [a100]
        daint: [gh200]
        santis: [gh200]
        clariden: [gh200]
      develop: False
      mount: "/user-tools"
  mch:
    "v7":
      recipes:
        a100: v7
      deploy:
        balfrin: [a100]
      develop: False
    "v8":
      recipes:
        a100: v8
      deploy:
        balfrin: [a100]
      develop: False
  namd:
    "3.0":
      recipes:
        gh200: 3.0/gh200
        zen2: 3.0/mc
      deploy:
        daint: [gh200]
        eiger: [zen2]
      develop: False
  netcdf-tools:
    "2024":
      recipes:
        zen2: '2024/x86'
        zen3: '2024/x86'
        a100: '2024/x86'
        gh200: '2024/arm64'
      deploy:
        eiger: [zen2]
        pilatus: [zen2]
        balfrin: [zen3]
      develop: False
  # OpenFOAM Foundation
  openfoam-org:
    "8":
      recipes:
        zen2: 8/mc
      deploy:
        eiger: [zen2]
  prgenv-gnu:
    "24.2":
      recipes:
        gh200: 24.2/gh200
      deploy:
        santis: [gh200]
        daint: [gh200]
    "24.7":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: 24.7/mc
        zen3: 24.7/mc
        gh200: 24.7/gh200
      deploy:
        daint: [gh200]
        santis: [gh200]
        eiger: [zen2]
    "24.11":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: 24.11/mc
        zen3: 24.11/mc
        gh200: 24.11/gh200
        a100: 24.11/a100
      deploy:
        daint: [gh200]
        santis: [gh200]
        eiger: [zen2]
        bristen: [a100]
      develop: True
  prgenv-nvfortran:
    "24.11":
      recipes:
        gh200: 24.11/gh200
      deploy:
        daint: [gh200]
        santis: [gh200]
  pytorch:
    "v2.6.0":
      recipes:
        gh200: v2.6.0/gh200
      deploy:
        clariden: [gh200]
        daint: [gh200]
        santis: [gh200]
  quantumespresso:
    "v7.1":
      recipes:
        # zen2 and zen3 targets use the same recipe
        zen2: v7.1/mc
        zen3: v7.1/mc
        a100: v7.1/a100
      deploy:
        eiger: [zen2]
    "v7.3.1":
      recipes:
        gh200: v7.3.1/gh200
        zen2: v7.3.1/mc
      deploy:
        daint: [gh200]
        eiger: [zen2]
    "v7.4":
      recipes:
        gh200: v7.4/gh200
        zen2: v7.4/mc
      deploy:
        santis: [gh200]
        daint: [gh200]
        eiger: [zen2]
    "v7.4.1":
      recipes:
        gh200: v7.4.1/gh200
        zen2: v7.4.1/mc
      deploy:
        santis: [gh200]
        daint: [gh200]
        eiger: [zen2]
  sirius:
    "v7.5":
      recipes:
        a100: v7.5/a100
      develop: True
  scorep:
    "9.0-gcc12":
      recipes:
        gh200: 9.0-gcc12/gh200
      deploy:
        daint: [gh200]
        santis: [gh200]
        clariden: [gh200]
    "9.0-gcc13":
      recipes:
        gh200: 9.0-gcc13/gh200
      deploy:
        daint: [gh200]
        santis: [gh200]
        clariden: [gh200]
  vasp:
    "v6.4.2":
      recipes:
        gh200: v6.4.2/gh200
      deploy:
        daint: [gh200]
      develop: False
    "v6.4.3":
      recipes:
        gh200: v6.4.3/gh200
      deploy:
        daint: [gh200]
      develop: False
    "v6.5.0":
      recipes:
        gh200: v6.5.0/gh200
        zen2: v6.5.0/mc
      deploy:
        daint: [gh200]
        eiger: [zen2]
      develop: False
  jupyterlab:
    "v4.1.8":
      recipes:
        zen2: v4.1.8/mc
        gh200: v4.1.8/mc
      deploy:
        daint: [gh200]
        santis: [gh200]
        clariden: [gh200]
        eiger: [zen2]
      mount: "/user-tools"
