nvhpc-env:
  compiler:
    - toolchain: gcc
      spec: gcc@12
    - toolchain: llvm
      spec: nvhpc
  mpi:
    spec: cray-mpich@8.1.29%nvhpc
    gpu: cuda
  unify: true
  specs:
  - quantum-espresso@7.3.1 %nvhpc +libxc +cuda +nvtx +scalapack ~openmp
  - netlib-scalapack
  - fftw
  - nvpl-blas threads=openmp
  - nvpl-lapack threads=openmp
  - libxc%nvhpc~cuda
  packages:
  - git
  variants:
  - +mpi
  - +cuda
  - cuda_arch=90
  views:
    default:
      link: roots
    develop:
      exclude: ['quantum-espresso', 'patchelf', 'git']
      link: roots
