pytorch-env:
  compiler: [gcc, llvm]
  network:
      mpi: cray-mpich@9.0.0 +cuda
      specs:
      - libfabric@2.4.0-dev +gdrcopy +uring fabrics=cxi,rxm,sockets,tcp,udp,lnx
      - xpmem@2.9.6 ~kernel-module
  unify: true
  specs:
  - boost +chrono +filesystem +iostreams +mpi +python +regex +serialization +shared +system +timer
  - cmake
  - fftw
  - fmt
  - gsl
  - hdf5+cxx+hl+fortran
  - lua
  - libtree
  - lz4
  - meson
  - netcdf-c
  - netcdf-cxx
  - netcdf-fortran
  - ninja
  - openblas threads=openmp
  - osu-micro-benchmarks
  - papi
  - zlib-ng
  - nccl
  - nccl-tests
  - cuda
  - cudnn
  - cutensor
  - cutlass
  - cublasmp
  - nvidia-mathdx
  - xcb-util-cursor
  - aws-ofi-nccl@1.18.0-dev
  - nvshmem ~ucx +nccl +gdrcopy +libfabric +mpi +python +gpu_initiated_support
  - libunwind@master +pic ~tests components=coredump,ptrace,setjmp +xz +zlib
  - hydra
  - swig
  - libaio
  - ucx +cma +dm ~examples +gdrcopy +thread_multiple +xpmem
  - ucc +nccl
  - rdma-core-mock ~ipo
  - faiss +python
  - python@3.12
  - python-venv
  - py-pip
  - py-pytest
  - py-cython
  - py-pybind11
  - py-cuda-python
  - py-cuda-bindings
  - py-cuda-core@0.2
  - py-cuda-pathfinder@1.2.3
  - py-numpy
  - py-torch@2.9.1 +caffe2 +cudnn ~cudss +cusparselt +custom-protobuf +distributed +flash_attention +gloo +kineto +magma ~mkldnn +nccl +xnnpack +numpy +numa +openmp +qnnpack +tensorpipe +valgrind
  - py-torchaudio
  - py-torchvision
  - py-torchmetrics
  - py-triton@3.5.1 +build-custom-llvm
  - py-torch-nvidia-apex
  - py-transformer-engine
  - py-einops
  - py-safetensors
  - py-tokenizers
  - py-transformers
  - py-ml-dtypes
  - py-onnx
  - py-onnx-ir
  - py-onnxscript
  - py-regex
  - py-tensorboard
  - py-psutil
  #- py-vllm
  - dynolog +use-prometheus +with-unwind +with-gflags
  # packages which don't compile with +ipo
  - libjpeg-turbo ~ipo
  - libpng ~ipo
  - protobuf ~ipo
  - magma ~ipo
  variants:
  - +mpi
  - +cuda
  - cuda_arch=90a
  - +ipo
  views:
    default:
      link: all
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
        env_vars:
          set:
          - CUDA_CACHE_DISABLE: "1"
          - NCCL_NET: "AWS Libfabric"
          - NCCL_CROSS_NIC: "1"
          - NCCL_P2P_LEVEL: "NVL"
          - NCCL_NET_GDR_LEVEL: "PHB"
          - NCCL_NET_GDR_C2C: "1"
          - NCCL_NET_GDR_READ: "1"
          - NCCL_PROTO: "^LL128"
          - NCCL_NCHANNELS_PER_NET_PEER: "4"
          - FI_PROVIDER: "cxi"
          - FI_CXI_DEFAULT_CQ_SIZE: "131072"
          - FI_CXI_DEFAULT_TX_SIZE: "16384"
          - FI_CXI_DISABLE_HOST_REGISTER: "1"
          - FI_CXI_RDZV_PROTO: "alt_read"
          - FI_CXI_RDZV_EAGER_SIZE: "0"
          - FI_CXI_RDZV_GET_MIN: "0"
          - FI_CXI_RDZV_THRESHOLD: "0"
          - FI_CXI_RX_MATCH_MODE: "hybrid"
          - FI_MR_CACHE_MONITOR: "userfaultfd"
          - NVSHMEM_REMOTE_TRANSPORT: "libfabric"
          - NVSHMEM_LIBFABRIC_PROVIDER: "cxi"
          - NVSHMEM_DISABLE_CUDA_VMM: "1"
          - PYTHONPATH: null
          - PYTHONUSERBASE: "/user-environment/env/default"
          - CUDA_HOME: "/user-environment/env/default"
