ascent-env:
  compiler: [gcc]
  network:
    mpi: cray-mpich
  unify: true
  specs:
    - ascent +python +occa ~adios2 ~mfem ~fides
    - python
  views:
    default:
      link: run
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
