lammps-kokkos:
  compiler: [gcc]
  network:
    mpi: cray-mpich@8.1.32 +cuda
  unify: true
  specs:
  - python@3.12
  - cmake
  - ninja
  - cuda@12
  - kokkos +wrapper 
  - py-torch@2.8.0 ~distributed ~nccl
  - lammps@git.metatomic=develop fft_kokkos=cufft +kokkos +python +extra-dump +plumed +replica +extra-molecule +metatomic
  variants:
  - +mpi
  - +cuda
  - cuda_arch=90
  views:
    develop:
      link: all
      exclude: ["lammps"]
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
    lammps:
      link: all
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
