lammps-kokkos:
  compiler: [gcc]
  network:
    mpi: cray-mpich@8.1.32 +cuda
  unify: true
  specs:
  - python@3.12
  - cmake
  - ninja
  - cuda@12
  - py-torch@2.8.0 ~distributed ~nccl
  - kokkos +wrapper
  - plumed
  - libmetatensor-torch@0.8.1
  - libmetatomic-torch
  - lammps@git.d2bac82a7242d74b3ab0665b582b0ae61ba3cfd6=develop +kokkos fft_kokkos=cufft +python +replica +mc +misc +plumed +manifold +metatomic +qtb +reaction +shock +spin +extra-pair +extra-fix build_type=RelWithDebInfo
  variants:
  - +mpi
  - +cuda
  - cuda_arch=90
  views:
    develop:
      link: all
      # Exclude gcc-runtime to avoid adding a copy of libgomp.so to the view
      exclude: ["lammps", "gcc-runtime"]
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
    lammps:
      link: all
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
