paraview-osmesa:
  compiler: [gcc]
  network:
    mpi: cray-mpich
  unify: true
  views:
    develop:
      exclude: []
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
    paraview:
      link: run
      exclude: []
      uenv:
        add_compilers: true
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]
    paraview-python:
      link: run
      exclude: []
      uenv:
        prefix_paths:
          LD_LIBRARY_PATH: [lib, lib64]

  specs:
  # Build tools
  - cmake
  - ninja
  # llvm@18 is required by ispc
  - llvm@18 targets=x86

  # c++ helpers
  - fmt@11
  - boost +atomic +chrono +container +context +coroutine +date_time +filesystem +graph +json +mpi +multithreaded +program_options +regex +serialization +shared +system +test +thread

  # IO and parallelism
  - hdf5 +mpi +cxx +hl +threadsafe +shared ~java
  - netcdf-c +mpi
  - lz4
  - adios2 +python +hdf5

  # multithreading
  - tbb

  # in-situ support
  - libcatalyst +mpi +python

  # vtk external deps
  - cgns #@4.4.0
  - cli11
  - double-conversion #@3.3.0
  - eigen
  - expat
  - fast-float@7
  - fmt@11
  - freetype
  - git
  - gl2ps
  - glew
  - jpeg
  - jsoncpp
  - libharu
  - libogg
  - libpng
  - libtheora #@git.7180717276af1ebc7da15c83162d6c5d6203aabf=master
  - libtiff
  - libxml2
  - nlohmann-json
  - pegtl@2
  - proj
  - protobuf #@:3.21 # problem about crc arm vs crc aarch64 -- give a try to 33.0, it failed with 32.1
  - pugixml
  - seacas@2025-02-27 ~legacy
  - sqlite
  - utf8cpp
  - verdict
  - xz
  - zlib-ng

  # climate/weather
  - cdi@2.5.0 # problem with cmake module starting from cdi@2.5.1 onward

  # python
  - python@3.12
  - py-numpy
  - py-pandas
  - py-matplotlib
  - py-mpi4py
  - py-cftime
  - py-h5py

  # raytracing in VTK/ParaView
  - ospray@3.2 ~mpi +denoiser +volumes ~apps ~glm
  - ispc@1.24
  - openvkl
  - embree
  - rkcommon
  - openimagedenoise

  # offscreen rendering
  - mesa +osmesa
  - osmesa

  variants:
  - build_type=Release
  - cxxstd=17
  - +cxx
  - +mpi
